{% extends admin_base_template %}


{% block access_control %}
    <ul class="nav pull-right">
        {% if current_user.is_authenticated() %}
            <li><a href="#">Hello {{ current_user.email }}!</a></li>
            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
        {% else %}
            {% with admin_url=url_for('admin.index') %}
                <li><a href="{{ url_for('user.login', next=admin_url) }}">Login</a></li>
            {% endwith %}
        {% endif %}
        <li><a href="{{ url_for('product.index') }}">Go to site</a></li>
    </ul>
{% endblock %}
